<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8"/>
      <title>chatroom</title>
      <script src="/socket.io/socket.io.js"></script>
      <link rel="stylesheet" href="../chat.css">
    </head>

    <body>
      <div id="getUsername">
          <h1>welcome to our chatroom!</h1>
          <h3>enter a nickname to enter</h3>
          <input type="text" id="username"/>
          <button onclick="sendUsername()">enter</button>
      </div>
      <div id="theChatroom">
      <br><br>
        <div class="column left_column" id="left">
            <p>your nickname is: <i id="name"></i></p>
            <button id="leave_room" onclick="leaveRoom()">leave this room</button>
          <div id="rooms_header">
            <h3>rooms:</h3>
            <p>(click to visit)</p>
          
          </div>
          <ul class="list" id="rooms_list">
             <!-- should load in room names -->
          </ul>

          <div id="new_room_stuff">
            <hr width="50%" style="margin-left: 0">
            <input type="text" id="room_name"/>
            <button onclick="addRoom()" id="add_room">add a room</button><br>
            <input type="checkbox" id="private">private room
          </div>
        </div>
        
        <div class="column middle_column" id="middle">
          <h1>room <i id="room_title"></i></h1><!-- when room is selected, append room name to this -->
          <div id="chatlog"></div><!-- should load in previous messages in this room  -->
          <div id="messenger"> 
            <input type="text" id="message_input"/>
            <button onclick="sendMessage()">send message</button>
          </div>
        </div>
        <div class="column right_column" id="right">
          <h3>users in this room:</h3>
          <p>(click to kick out or ban)</p>
            <ul class="list" id="users_list">
                 <!-- should add username once user joins room. also must broadcast change -->
            </ul>
        </div>
      </div>
      <div id="popUpPass">
            <div id="thePassword"></div>
            <input type="password" name="password" id="password" placeholder="password" required><br> 
            <input type="submit" name="submit" id ="submit_pass" value="Set Password"><br><br>
          </div>
      <div id="enterPass">
          <div id="checkPass"></div>
          <input type="password" name="checkPassword" id="checkPassword" placeholder="password" required><br> 
          <input type="submit" name="submit" id ="check_pass" value="enter"><br><br>
          </div>
      </div>
      </div>
   </body>

   <script>
      var socketio = io.connect();
      
      // DISPLAYS ROOM NAMES AS BUTTONS
      socketio.on("room_names", function(data){
        var roomName = data["roomName"];
        var btn = document.getElementById("rooms_list").appendChild(document.createElement("button")); //add a button for every room
        btn.appendChild(document.createTextNode(roomName));
        document.getElementById("rooms_list").appendChild(document.createElement("br"));

        var username =  document.getElementById("name").textContent;

        // FUNCTION FOR ENTERING A ROOM 
        btn.onclick = function(){ 
          socketio.emit("is_there_password", {username:username, roomName:roomName});          
        }
        //   window.addEventListener("unload", function(){ // handles case when user leaves page || reloads page
        //     console.log("page was reloaded")
        //     socketio.emit("remove_user_from_room", {roomName:roomName, username:username}); //need to pass username
        //     leaveRoom();
        //     socketio.emit("users_in_room", {roomName:roomName}); //display all of the current users in the room
        //     });
        
      });
      socketio.on("ask_for_password", function(data){
        var username = data["username"];
        var roomName = data["roomName"];

         document.getElementById("theChatroom").style.display = 'none'; //hide the chatroom
            document.getElementById("enterPass").style.display = 'block'; //dialog box
            document.getElementById("checkPass").innerHTML = "enter the password";
            //document.getElementById("password").textContent=" "; //prolly wrong
            document.getElementById("check_pass").onclick = function(){ //when button user goes to submit pass
              var password = document.getElementById("checkPassword").value; //get password from the html
              console.log("entered password " + password);
              
              //socketio.emit("set_password", {password:password, roomName:roomName}); //send to server
              document.getElementById("checkPassword").value =' ';
              document.getElementById("enterPass").style.display = 'none'; 
              document.getElementById("theChatroom").style.display = 'block'; //close the dialog box
            }
      });
      //allows user to enter room if 1) there is no password or 2) they entered the correct password
      socketio.on("enter_room", function(data){
        var username = data["username"];
        var roomName = data["roomName"];

        socketio.emit("add_user_to_room", {roomName:roomName, username:username}); //add current user to room in sql
        socketio.emit("users_in_room", {roomName:roomName}); //display all of the current users in the room
        socketio.emit("messages_in_room", {roomName:roomName}); //display all the old messages when the user enters

          document.getElementById('leave_room').style.visibility = "visible"; // display leave room btn
          document.getElementById("rooms_header").style.visibility="hidden"; // hide header
          document.getElementById("rooms_list").style.visibility="hidden"; // hide room list 
          document.getElementById("new_room_stuff").style.visibility = "hidden"; //can't add a new room when you're still in a room
          
          document.getElementById("middle").style.visibility = "visible"; // show chatroom
          document.getElementById("right").style.visibility = "visible"; // show users list
          document.getElementById("room_title").innerHTML = roomName; // show name
      })
      // Display all the users in a room
      socketio.on("display_users", function(data){
          document.getElementById("users_list").innerHTML=""; // clears previous
          var roomName = data["roomName"]; 
          var usersList = data["usersList"];
          var creator = data["creator"];
          var bigList = document.createElement("div");
          for (var i=0; i<usersList.length; i++){
            var username = usersList[i];
            var element = document.createElement("button");
            element.appendChild(document.createTextNode(username));
            element.className = "user_button";
            element.onclick = function(){ // pass username, creator, and room name to user options
              userOptions(this.textContent, creator, roomName);
            }

            bigList.appendChild(element); 
            bigList.appendChild(document.createElement('br'));
          }
          if (document.getElementById("room_title").textContent == roomName){
            document.getElementById("users_list").appendChild(bigList);
          }
      });

      //banning a user and kicking a user out
      function userOptions(username, creator, roomName){
        console.log("user options for "+username+" in "+roomName+" which was created by "+creator);
        // get the username of who created this room
        // if logged in as creator, you are able to kick out / ban this user
        var me = document.getElementById("name").textContent;
        if (me == creator){
          alert("you are the owner of this room!");
        }
      }

      // Display all the messages in a room
      socketio.on("display_messages", function(data){
          var roomName = data["roomName"];
          if (document.getElementById("room_title").textContent == roomName){
              console.log("in room "+roomName);
              document.getElementById("chatlog").innerHTML = ""; // clear previous chat
              // get all messages and append to chatlog  
              var messageList = data["messageList"];
              var bigList = document.createElement("div");

              for (var i=0; i<messageList.length; i++){
                var username = messageList[i][0];
                var message = messageList[i][1];
                var time = messageList[i][2];
                var element = document.createElement("p");
                element.appendChild(document.createTextNode(username + ":    "+message));
                element.appendChild(document.createElement('br'));
                bigList.appendChild(element);
              }
              
              document.getElementById("chatlog").appendChild(bigList);
              scrollDown();
          }
      });

      socketio.on("new_message", function(data){
        var username = data["username"];
        var roomName = data["roomName"];
        var message = data["message"];

        if (document.getElementById("room_title").textContent == roomName){
            var element = document.createElement("p");
            element.appendChild(document.createTextNode(username + ":    "+message));
            element.appendChild(document.createElement('br'));
            document.getElementById("chatlog").appendChild(element);
            scrollDown();
        }
      });

      socketio.on("add_new_user", function(data){
        var username = data["username"];
        var roomName = data["roomName"];
        if (document.getElementById("room_title").textContent == roomName){
            var element = document.createElement("button");
            element.appendChild(document.createTextNode(username));
            element.className = "user_button";
            element.onclick = function(){ // pass username, creator, and room name to user options
              userOptions(this.textContent, creator, roomName);
            }

            document.getElementById("users_list").appendChild(element); 
            document.getElementById("users_list").appendChild(document.createElement('br'));
        }
      });


      socketio.on("remove_user", function(data){  //remove username button
        var username = data["username"];
        var roomName = data["roomName"];
        
        if (document.getElementById("room_title").textContent == roomName){
          var usersList = document.getElementsByClassName("user_button");
           
          for (var i=0; i<usersList.length; i++){
            if (usersList[i].textContent == username){ 
              // console.log("removing "+usersList[i].textContent);
              usersList[i].parentNode.removeChild(usersList[i]);
            }
          }
        }
      });

      socketio.on("username_already_exists", function(data){
        var username = data["username"];
        alert("The username "+ username +" already exists. Please choose another.")
        document.getElementById("username").value = ""; // reset form
      });

      socketio.on("configure_display", function(data){
        var username = data["username"];
        document.getElementById("name").innerHTML = username;
        document.getElementById("getUsername").style.visibility = "hidden";
        document.getElementById("left").style.visibility = "visible"; // only left is visible, middle and right become visble when we enter a room
      });

      // LEAVE ROOM
      function leaveRoom(){ 
            var roomName = document.getElementById("room_title").textContent;
            var username =  document.getElementById("name").textContent; 

            document.getElementById("leave_room").style.visibility = "hidden";  // hide leave room button
            document.getElementById("rooms_header").style.visibility = "visible";// show rooms header and rooms list
            document.getElementById("rooms_list").style.visibility = "visible";
            document.getElementById("new_room_stuff").style.visibility = "visible"; // show add room button
            document.getElementById("middle").style.visibility = "hidden"; 
            document.getElementById("right").style.visibility = "hidden"; // hide middle and right column 

            //document.getElementById("users_list").innerHTML = ""; // remove all users from list ISSUE

            socketio.emit("remove_user_from_room", {roomName:roomName, username:username}); //remove room attribute from user //need to pass username
      }

      // LOG IN
      function sendUsername(){
        var username = document.getElementById("username").value; //get the entered value of the username
        socketio.emit('little_newbie', {username:username}); //send the username to server
        document.getElementById("username").value = ""; // reset form
      }
      

      // NEW ROOM
      function addRoom(){
          var roomName = document.getElementById("room_name").value;
          var username = document.getElementById("name").textContent;
          var isChecked = document.getElementById("private").checked;

          if(isChecked){
            document.getElementById("theChatroom").style.display = 'none'; //hide the chatroom
            document.getElementById("popUpPass").style.display = 'block'; //dialog box
            document.getElementById("thePassword").innerHTML = "set password u fuk";
            //document.getElementById("password").textContent=" "; //prolly wrong
          
            document.getElementById("submit_pass").onclick = function(){ //when button user goes to submit pass
              var password = document.getElementById("password").value; //get password from the html
              socketio.emit("set_password", {password:password, roomName:roomName}); //send to server
              document.getElementById("password").value =' ';
              document.getElementById("popUpPass").style.display = 'none'; 
              document.getElementById("theChatroom").style.display = 'block'; //close the dialog box
            }
            
          }
          document.getElementById("room_name").value = ""; //reset form
          socketio.emit('get_room_name', {roomName:roomName, username:username, private:isChecked}); //send roomname to server so it can add to sql //needs user
      }

      // SEND A MESSAGE
      function sendMessage(){
        var username = document.getElementById("name").textContent; //get the entered value of the username
        var msg = document.getElementById("message_input").value;
        var room = document.getElementById("room_title").textContent;
        document.getElementById("message_input").value = ""; // reset form

        socketio.emit("message_to_server", {message:msg, roomName:room, username:username}); // send message and username to sql
        socketio.emit("messages_in_room", {roomName:room}); // display messages
      }
      
      function scrollDown() { // scrolls the box to the bottom
        document.getElementById('chatlog').scrollTop = document.getElementById('chatlog').scrollHeight;
      }

    </script>
</html>